@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-primary: #363949;
  --bg-color: #edeffd;
  --shadow: rgba(132, 139, 200, 0.5);
  --input-color: #4ba5bd;
  --spark-color: #ffc14b;
}

.dark-mode-variables {
  --color-primary: #edeffd;
  --bg-color: #363949;
  --shadow: rgba(0, 0, 0, 1);
  --spark-color: #4ba5bd;
  --input-color: #ffc14b;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  color: var(--color-primary);
  background-color: var(--bg-color);
  transition: all 0.3s linear;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  padding: 1.5rem;
  background-color: var(--bg-color);
  border-radius: 10px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1rem 2rem var(--shadow);
  margin-bottom: 1rem;
  z-index: 100;
}

header {
  position: fixed;
  max-width: 1200px;
}

.header-logo {
  height: 50px;
  display: flex;
  align-items: center;
}

.header-logo img {
  max-height: 50px;
}

.header-switch {
  width: 60px;
  height: 30px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: var(--color-primary);
}

.header-switch::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px var(--color-primary);
  background-color: var(--bg-color);
  /* left: 0;
  right: unset; */
  transform: translateX(-4px);
  transition: all .3s linear;
}

.header-switch.active::before {
  transform: translateX(25px);
  box-shadow: none;
  /* right: 0;
  left: unset; */
}

.header-switch ion-icon {
  color: var(--bg-color);
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

main h1 {
  margin-bottom: 3rem;
}

.about,
.tecnologies,
.activities {
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 1.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1rem 2rem var(--shadow);
  margin-bottom: 3rem;
}

.about {
  text-align: content;
}

.about h2,
.tecnologies h2,
.activities h2 {
  margin-bottom: 2rem;
}

body::before {
  content: "";
  width: 30%;
  height: calc(100% - 80px);
  background-color: #ffc14b;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 70px;
}

.tecnologies-cards {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tecnologies-cards-img {
  display: flex;
  justify-content: center;
}

.tecnologies-cards a {
  position: relative;
}

.tecnologies-cards a p {
  position: absolute;
  top: 10px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.tecnologies-cards a:hover p {
  top: -25px;
  z-index: 1;
  opacity: 1;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--svg-shadow);
}

.tecnologies-cards a svg {
  height: 6rem;
  transition: height 0.3s ease-out;
}

.tecnologies-cards svg:hover {
  filter: drop-shadow(0 0 1.5rem var(--svg-shadow));
  height: 6.5rem;
}

.activities-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  font-size: 1rem;
}

.activities-form div {
  width: 100%;
}
.activities-form div label {
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid silver;
  padding: 1rem;
  border-radius: 2rem;
}

.activities-form div label.focus {
  border-color: var(--input-color);
}

.activities-form div label span.focus {
  color: var(--input-color);
}

.activities-form div label span.top {
  left: 1rem;
  top: -0.5rem;
  font-size: 0.8rem;
  background-color: var(--bg-color);
  padding: 0 0.4rem;
}

.activities-form div label span {
  position: absolute;
  color: silver;
  top: 1rem;
  left: 1rem;
  transition: all 0.2s linear;
}

.activities-form div label input {
  display: block;
  width: 100%;
  background-color: transparent;
  color: var(--input-color);
  font-weight: bold;
}

.activities-form div label input:focus {
  outline: none;
}

.activities-form input[type="button"] {
  position: absolute;
  background-color: transparent;
  width: 100%;
  padding-block: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--input-color);
  color: var(--input-color);
  font-weight: bold;
  transition: all 0.3s linear;
  cursor: pointer;
}

.activities-form input[type="button"]:hover {
  background-color: var(--input-color);
  color: var(--bg-color);
}

footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.8rem;
}

.redes {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.redes svg {
  transition: all 0.2s linear;
}

.redes svg:hover {
  fill: var(--clr);
}

.activities-cards-container {
  margin-top: 3rem;
  min-height: 10rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.activities-cards-container .card {
  position: relative;
  width: 20vh;
  height: 25vh;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2rem var(--shadow);
  transition: all .25s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}

.activities-cards-container .card:hover {
  transform: scale(1.05); 
}

.activities-cards-container .card-delete {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 40%;
  height: 1rem;
  padding: .2rem;
  color: white;
  transition: all .25s linear;
}

.activities-cards-container .card-delete:hover {
  background-color: red;
}

.activities-cards-container .card img {
  height: 10vh;
  margin-top: 1rem;
  width: 90%;
  object-fit: cover;
}

.activities-cards-container .card h4 {
  background-color: var(--input-color);
  color: var(--bg-color);
  padding-bottom: .5rem;
  padding-top: .8rem;
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.activities-cards-container .card p {
  font-size: 0.8rem;
  padding: 1rem;
  height: 6vh;
}

#button {
  position: relative;
  height: 54px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spark {
  background-color: var(--input-color);
  border-radius: 50%;
  position: absolute;
  animation: animate 2s linear forwards;
}

.spark:nth-child(even) {
  background-color: transparent;
  border: 1px solid var(--spark-color);
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(0,0)
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }

}

.whatsapp {
  position: fixed;
  right: 0.5em;
  top: calc((100vh - 150px));
}


@media screen and (max-width: 768px) {
  html {
    padding: 0;
  }

  header,
  footer {
    border-radius: 0px;
    box-shadow: 0 1rem 2rem var(--shadow);
  }

  footer {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }

  footer p {
    display: none;
  }

  .header-logo h3 {
    display: none;
  }

  .about,
  .tecnologies,
  .activities {
    width: 95%;
  }

  #button {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .whatsapp {
    right: calc((100vw - 1200px) / 2);
  }
}